# output
/dist
/tmp

# deps
.grunt
.npm
bower_components
node_modules

# logs
logs
*.log
npm-debug.log

# misc
.DS_Store
.notes.md
js-codemod/
tags

# dev game config
src/config.dev.js

# assets
assets/tilemaps/sets/windows.png
